[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packags]
pytest = "*"
pytest-cov = "*"

[packages]
boto3 = "*"
pyyaml = "*"

[requires]
python_version = "3.11"

[scripts]